<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BallonsShooter.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ApplicationTitle" value="CFPT EI Ballons Shooter"/>
    
    <add key="ApplicationMode" value="WINDOW"/>   <!-- [FULLSCREEN, WINDOW] -->
    <add key="SoundEffects" value="ON"/>          <!-- [ON, OFF] -->

    <!-- pas d'accents dans les messages -->
    <add key="ExplainMessage" value="Viser les ballons sans toucher les oiseaux !!!"/>
    <add key="CFPTMessage" value="Programme realise par les apprentis de l'ecole d'informatique du CFPT de Geneve. Bonne partie !"/>
    <add key="StartMessage" value="Please insert coin !"/>

    <add key="NbPoints" value="5"/>             <!-- nb de points pour gagner une partie -->
    <add key="BetweenFireDelay" value="3500"/>  <!-- délai entre 2 tirs d'un joueur -->
    
    <add key="J1Name" value="Joueur 1"/>        <!-- nom d'affichage pour le joueur 1 -->
    <add key="J2Name" value="Joueur 2"/>        <!-- nom d'affichage pour le joueur 2 -->

    <!-- message en cas de victoire -->
    <add key="J1WinnerMsg" value="Joueur 1 gagnant !"/>
    <add key="J2WinnerMsg" value="Joueur 2 gagnant !"/>

  </appSettings>  
</configuration>