<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApplicationTitle" value="CFPT Ballons Shooter"/>
    
    <add key="ApplicationMode" value="WINDOW"/> <!-- [FULLSCREEN, WINDOW] -->
    
    <add key="WelcomeMessage" value="Please insert coin "/>

    <add key="NbPoints" value="10"/>

    <add key="J1Name" value="Joueur 1"/>
    <add key="J2Name" value="Joueur 2"/>

    <add key="J1WinnerMsg" value="Joueur 1 gagnant !"/>
    <add key="J2WinnerMsg" value="Joueur 2 gagnant !"/>

    <add key="J1_UP" value="Keys.W" />
  </appSettings>
</configuration>